chdk/CHDK/LUALIB/GEN/*.lua
chdk/CHDK/MODULES/*.flt
chdk/tools/*.o
chdk/tools/elf2flt/*.o
chdk/modules/*.o
chdk/modules/*.flt
chdk/lib/*/*.o
chdk/lib/*/*.a
chdk/CHDK/DATA/logo.dat
chdk/lib/font/font_8x16_uni_packed.h
chdk/lib/lang/lang_str.h
chdk/modules/exportlist.inc
chdk/modules/module_exportlist.h
chdk/modules/module_hashlist.h
chdk/revision.inc
chdk/tools/code_gen
chdk/tools/dancingbits
chdk/tools/elf2flt/elf2flt
chdk/tools/elf2flt/fltdump
chdk/tools/finsig_dryos
chdk/tools/finsig_vxworks
chdk/tools/font_8x16_pack
chdk/tools/gen_conf_lua
chdk/tools/gensig_dryos
chdk/tools/gensig_vxworks
chdk/tools/makeexport
chdk/tools/makelang
chdk/tools/pakwif
chdk/bin/DISKBOOT.BIN
chdk/bin/caminfo.txt
chdk/core/main.bin
chdk/core/main.bin.dump
chdk/core/main.elf
chdk/loader/*/blobs.o
chdk/loader/*/main.bin
chdk/loader/*/main.bin.dump
chdk/loader/*/main.elf
chdk/loader/*/main.elf.syms
chdk/platform/*/sub/*/PRIMARY.BIN
chdk/platform/*/sub/*/camera_info.thm.o
chdk/platform/*/sub/*/gui.thm.o
chdk/platform/*/sub/*/libplatformsub.a

